* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav {
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#nav h2 {
    font-size: 12px;
    cursor: pointer;
}

#nav i {
    cursor: pointer;
}

#navacc{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

hr{
    opacity: .3;
}

#navacc h2{
    position: relative;
    right: 100px;
    font-size: 18px;
    bottom: 2px;
    font-weight: 900;
}

#navacc h5{
    position: relative;
    left: 120px;
}

#content {
    height: 400px;
    width: 100%;
    display: flex;
    background-color: #f5f5f7;
}

.cleft {
    padding: 90px 100px;
    height: 100%;
    width: 40%;
}

.smalldiv{
    height: 200px;
    width: 400px;
    margin-left: 125px;
}

.smalldiv h1{
    width: 90%;
    margin-bottom: 20px;
    font-size: 46px;
    font-weight: 900;
}

.smalldiv p{
    width: 80%;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.smalldiv h3{
      font-size: 22px;
      font-weight: 200;
      color: #1e77d1;
}

.cright {
    height: 100%;
    width: 60%;
}

.cright img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    right: 100px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchh1{
    height: 200px;
    width: 50%;
}

.searchh1 h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 29px;
}

input{
    font-size: 18px;
    margin-left: 130px;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.442);
}

#circle{
    height: 400px;
    width: 100%;
    /* display: flex;
   justify-content: center; */
}

.twoh5{
    height: 100px;
    width: 100%;
    font-size: 25px;
    display: flex;
     gap: 90px;
     align-items: center;
     justify-content: center;
}

.twoh5 h5{
    margin-top: 50px;
    font-weight: 400;
   cursor: pointer;
}

.twoh5 h5:hover{
    color: rgb(178, 177, 177);
   transition: all ease .3s;
}

.circleimg{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* margin-top: 40px; */
}

.images{
    border-radius: 50%;
    border: 1px solid black;
    object-fit: contain;
    
}

.images>img{
   object-fit: contain;
   /* height:70px; */
}

.imagesback{
    border-radius: 50%;
    border: 1px solid black;
    object-fit: contain;
    display: none;
}

#cards{
    height: 100%;
    width: 100%;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards h1{
    margin-top: 100px;
    font-size: 38px;
}

#threecards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.cardsimg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 330px;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex-direction: column;
}

.cardsimg h4{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    width: 60%;
}

.cardsimg h6{
    font-size: 12px;
    color: red;
    margin-bottom: 20px;
}

.cardsimg p{
    font-weight: 100;
    font-size: 14px;
}

#container2{
    height: 100%;
    width: 100%;
}


#container3{
    height: 100%;
    width: 100%;
}

.cardsimg:hover{
    color: #74b6f7;
}

#container4{
    height: 100%;
    width: 100%;
}

#footer{
    margin-top: 40px;
    height: 900px;
    width: 100%;
    background-color: #f5f5f7;
}

#top-part{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
}

.part1{
    margin-top: 50px;
}

.part1 img{
    margin-left: 77px;
}

.part1 h1{
    font-size: 22px;
    margin-bottom: 10px;
}

.part1 p{
    width: 70%;
    text-align: center;
    margin-bottom: 10px;
}
.part1 h4{
    margin-left: 68px;
    color: #74b6f7;
}

.part2{
    margin-top: 50px;
}


.part2 img{
    margin-left: 77px;
}

.part2 h1{
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.part2 p{
    text-align: center;
    margin-bottom: 10px;
}
.part2 h4{
    margin-left: 68px;
    color: #74b6f7;
}

#text{
    height: 100px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 240px;
}

#text h5{
    width: 36%;
    margin-bottom: 10px;
    font-size: 13px;
    opacity: .5;
}

#text p{
    font-size: 13px;
    opacity: .5;
}

#text hr{
    margin-bottom: 20px;
    margin-top: 20px;
}

#paras{
    height: 60px;
    width: 100%;
    display: flex;
    line-height: 25px;
    justify-content: space-evenly;
}

.para1{
    height: 400px;
    margin-top: 40px;
    opacity: .4;
}


.foot{
    height: 50px;
    width: 100%;
    background-color:#f5f5f7 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.foot h5{
    opacity: .4;
    cursor: pointer;
}

.foot h5:hover{
    color: #248ef9;
}
